<div class="hero bg-base-200 min-h-screen flex items-center justify-center">
  <div class="card bg-base-100 max-w-md shrink-0 shadow-2xl">
    <div class="text-center mb-4" style="margin-top: 40px;">
      <h1 class="text-4xl font-bold py-6">アカウント作成</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card-body' }) do |f| %>
      <% if resource.errors.any? %>
        <div id="error_explanation" class="alert alert-error mb-4">
          <ul>
            <% resource.errors.full_messages.uniq.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-control mb-4">
        <label class="label" for="user_name">
          <span class="label-text">ユーザー名</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-user mr-4"></i> <!-- ユーザー名アイコン -->
          <%= f.text_field :name, placeholder: "ユーザー名", class: "input input-bordered w-full", required: true %>
        </div>
      </div>

      <div class="form-control mb-4">
        <label class="label" for="user_email">
          <span class="label-text">メールアドレス</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-envelope mr-4"></i> <!-- メールアイコン -->
          <%= f.email_field :email, placeholder: "メールアドレス", class: "input input-bordered w-full", required: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-control mb-4">
        <label class="label" for="user_password">
          <span class="label-text">パスワード</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-lock mr-4"></i> <!-- パスワードアイコン -->
          <%= f.password_field :password, placeholder: "パスワード", class: "input input-bordered w-full", required: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-control mb-4">
        <label class="label" for="user_password_confirmation">
          <span class="label-text">パスワード確認</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-lock mr-4"></i> <!-- パスワード確認アイコン -->
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "input input-bordered w-full", required: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-control mb-4">
        <label class="label" for="user_board_image">
          <span class="label-text">プロフィール画像</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-image mr-4"></i> <!-- プロフィール画像アイコン -->
          <%= f.file_field :board_image, class: "file-input file-input-bordered file-input-primary w-full max-w-xs" %>
        </div>
      </div>

      <div class="form-control mt-6">
        <%= f.submit "アカウント登録", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
