<div class="hero bg-base-200 min-h-screen flex items-center justify-center">
  <div class="card bg-base-100 max-w-md w-full shadow-2xl">
    <div class="text-center mb-4" style="margin-top: 40px;">
      <h2 class="text-4xl font-bold py-6">パスワード変更</h2>
    </div>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'card-body' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      
      <!-- 新しいパスワード -->
      <div class="form-control mb-4">
        <label class="label w-full" for="user_password">
          <span class="label-text">新しいパスワード</span>
          <% if @minimum_password_length %>
            <span class="label-text-alt text-gray-500">(最低 <%= @minimum_password_length %> 文字)</span>
          <% end %>
        </label>
        <div class="flex items-center w-full">
          <i class="fas fa-lock mr-4"></i>
          <%= f.password_field :password, placeholder: "新しいパスワード", class: "input input-bordered w-full", autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>
      
      <!-- 新しいパスワード（確認用） -->
      <div class="form-control mb-4">
        <label class="label w-full" for="user_password_confirmation">
          <span class="label-text">新しいパスワード（確認用）</span>
        </label>
        <div class="flex items-center w-full">
          <i class="fas fa-lock mr-4"></i>
          <%= f.password_field :password_confirmation, placeholder: "確認のためもう一度入力", class: "input input-bordered w-full", autocomplete: "new-password" %>
        </div>
      </div>
      
      <!-- 送信ボタン -->
      <div class="form-control mt-6">
        <%= f.submit "パスワードを変更する", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
