<div class="navbar justify-start">
  <div class="flex-1">
    <%= link_to 'Giftrail', root_path, class: 'btn btn-ghost text-3xl px-6' %>
  </div>

  <div class="flex-none mr-4">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %> <!-- ログインしている場合 -->
        <li>
          <details class="relative">
            <summary class="font-semibold">メニュー</summary>
            <ul class="bg-base-100 rounded-t-none p-2 absolute left-0 mt-1 z-10">
              <li><%= link_to '投稿作成', new_post_path, class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to '投稿一覧', posts_path, class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to 'お問い合わせ', '#', class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to '利用規約', '#', class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-ghost px-2 py-2' %></li>
            </ul>
          </details>
        </li>
      <% else %> <!-- ログインしていない場合 -->
        <li><%= link_to 'ログイン', new_user_session_path, class: 'font-semibold' %></li>
        <li>
          <details class="relative">
            <summary class="font-semibold">メニュー</summary>
            <ul class="bg-base-100 rounded-t-none p-2 absolute left-0 mt-1 z-10">
              <li><%= link_to '投稿一覧', posts_path, class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to 'お問い合わせ', '#', class: 'btn btn-ghost px-2 py-2' %></li>
              <li><%= link_to '利用規約', '#', class: 'btn btn-ghost px-2 py-2' %></li>
            </ul>
          </details>
        </li>
      <% end %>
    </ul>
  </div>
</div>
