<div class="hero bg-base-200 min-h-screen flex items-center justify-center">
  <div class="card bg-base-100 max-w-md w-full shrink-0 shadow-2xl">
    <div class="text-center mb-4" style="margin-top: 40px;">
      <h1 class="text-4xl font-bold py-6">ログイン</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card-body p-4' }) do |f| %>
      <% if resource.errors.any? %>
        <div id="error_explanation" class="alert alert-error mb-4">
          <ul>
            <% resource.errors.full_messages.uniq.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- メールアドレス入力 -->
      <div class="form-control mb-4">
        <label class="label" for="user_email">
          <span class="label-text">メールアドレス</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-envelope mr-4"></i> <!-- メールアイコン -->
          <%= f.email_field :email, placeholder: "メールアドレス", class: "input input-bordered w-full", required: true, autocomplete: "email" %>
        </div>
      </div>

      <!-- パスワード入力 -->
      <div class="form-control mb-4">
        <label class="label" for="user_password">
          <span class="label-text">パスワード</span>
        </label>
        <div class="flex items-center">
          <i class="fas fa-lock mr-4"></i> <!-- パスワードアイコン -->
          <%= f.password_field :password, placeholder: "パスワード", class: "input input-bordered w-full", required: true, autocomplete: "current-password" %>
        </div>
      </div>

      <!-- ログインボタン -->
      <div class="form-control mt-6">
        <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
      </div>
      
      <!-- Google認証ボタン -->
      <div class="flex justify-center mt-4 mb-2">
        <%= form_tag user_google_oauth2_omniauth_authorize_path, method: :post do %>
          <button type="submit" class="inline-block dark:bg-gray-800 px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo" class="w-6 h-6" loading="lazy">
            <span>Googleでログイン</span>
          </button>
        <% end %>
      </div>

      <!-- パスワードリセットと新規登録リンク -->
      <div class="text-center mt-4">
        <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name), class: "link link-primary !text-black" %>
        <br>
        <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "link link-primary !text-black" %>
      </div>
    <% end %>
  </div>
</div>
