<body class="min-h-screen flex flex-col">
  <div class="flex-grow">
    <div class="container mx-auto px-4 py-8">
      <div class="flex flex-col md:flex-row gap-8">
        
        <!-- サイドバー -->
        <div class="md:w-1/4">
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">人気のタグ</h2>
              <div class="flex flex-wrap gap-2">
                <% Tag.joins(:posts).group("tags.id").order("COUNT(posts.id) DESC").limit(15).each do |tag| %>
                  <%= link_to "##{tag.name}", posts_path(tag: tag.name), class: "btn btn-primary" %>
                <% end %>
              </div>
           </div>
         </div>
        </div>

        <!-- メインコンテンツ -->
        <div class="md:w-3/4">
          <!-- 検索フォーム -->
          <%= form_with url: posts_path, method: :get, local: true, class: "mb-8" do |f| %>
            <div class="flex flex-row gap-4 items-center">
              <!-- フリーワード検索 -->
              <div class="flex-1">
                <%= f.text_field :query, value: params[:query], placeholder: "検索...", class: "input input-bordered w-full" %>
              </div>

              <!-- プルダウン -->
              <div class="flex-none w-1/4">
                <%= f.select :production_area_eq, @production_area.map { |area| [area, area] }, { include_blank: "選択なし" }, class: "select select-bordered w-full" %>
              </div>

              <!-- 虫眼鏡ボタン -->
              <button type="submit" class="btn btn-square">
                <i class="fas fa-search text-lg text-gray-600"></i> <!-- Font Awesome の虫眼鏡アイコン -->
              </button>
            </div>
          <% end %>

          <!-- 投稿画像を2列に変更 -->
          <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <% if @posts.present? %>
              <% @posts.each do |post| %>
                <div class="relative overflow-hidden group">
                  <a href="<%= post_path(post) %>" class="block">
                    <% if post.images.present? %>
                      <img class="object-cover w-full h-full rounded transition duration-200 group-hover:scale-110" style="aspect-ratio: 1;" alt="投稿画像" src="<%= post.images.first.url %>">
                    <% else %>
                      <img class="object-cover object-center rounded w-full h-full transition duration-200 group-hover:scale-110" alt="投稿画像" src="https://dummyimage.com/720x600">
                    <% end %>
                  </a>
                </div>
              <% end %>
            <% else %>
              <p class="text-center text-gray-500">投稿はありません。</p>
            <% end %>
          </div>

          <!-- ページネーション -->
          <% if @posts.total_pages > 1 %>
            <div class="mt-8">
              <%= paginate @posts, theme: 'tailwind' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>