<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-start">
    <!-- 画像スライダー -->
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <% if @post.images.present? %>
        <div class="swiper swiper-main">
          <div class="swiper-wrapper">
            <% @post.images.each do |image| %>
              <div class="swiper-slide">
                <img class="object-cover w-full h-full rounded" style="aspect-ratio: 1;" alt="投稿画像" src="<%= image.url %>">
              </div>
            <% end %>
          </div>
          <!-- ナビゲーションボタン -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- ページネーション -->
          <div class="swiper-pagination"></div>
        </div>
      <% else %>
        <!-- 画像がない場合はダミー画像を表示 -->
        <img class="object-cover object-center rounded w-full h-full" alt="投稿画像" src="https://dummyimage.com/720x600">
      <% end %>
    </div>

    <!-- 投稿の詳細部分 -->
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <div class="relative mb-4 w-full">
        <div class="flex flex-col">
          <div class="flex justify-end space-x-4 mb-2">
            <!-- 編集ボタン（現在のユーザーが投稿の所有者の場合のみ表示） -->
            <% if current_user == @post.user %>
              <%= button_to edit_post_path(@post), class: 'btn btn-ghost btn-circle' do %>
                <i class="fas fa-edit text-gray-900"></i>
              <% end %>

              <!-- 削除ボタン（現在のユーザーが投稿の所有者の場合のみ表示） -->
              <%= button_to post_path(@post), method: :delete, class: 'btn btn-ghost btn-circle text-red-500' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>

          <!-- 投稿タイトルとユーザー情報 -->
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4">
              <!-- タイトルサイズ変更 -->
              <h1 class="title-font sm:text-5xl text-4xl font-medium text-gray-900">
                <span class="font-bold"><%= @post.title %></span>
              </h1>
            </div>
            <!-- ユーザーアイコン、ユーザーネーム、居住地 -->
            <div class="flex items-center ml-auto space-x-4">
              <!-- ユーザーアイコン -->
              <div class="avatar w-8 h-8 rounded-full overflow-hidden">
                <% if @post.user.icon.present? %>
                  <img src="<%= @post.user.icon.url %>" alt="ユーザーアイコン">
                <% else %>
                  <%= image_tag('dummy.jpg', alt: 'ユーザーアイコン', class: 'w-8 h-8 rounded-full') %>
                <% end %>
              </div>
              <div class="ml-4">
                <p class="font-semibold text-gray-900"><%= @post.user.name %></p>
                <div class="flex items-center">
                  <span class="whitespace-nowrap"><%= @post.user.residence %></span>
                </div>
              </div>
            </div>
          </div>

          <!-- 産地情報 -->
          <% if @post.production_area.present? %>
            <div class="flex items-center mt-2 text-gray-900">
              <i class="fas fa-map-marker-alt w-3 h-3 mr-1"></i>
              <span><%= @post.production_area %></span>
            </div>
          <% end %>
        </div>
      </div>

      <!-- 投稿内容 -->
      <div class="mb-6 leading-relaxed text-lg text-gray-500 text-left whitespace-pre-line">
        <%= simple_format(@post.body) %>
      </div>

      <!-- タグ部分 -->
      <div class="mt-6"> <!-- タグ部分のマージンを調整 -->
        <div class="flex flex-wrap gap-2">
          <% @post.tags.each do |tag| %>
            <%= link_to "##{tag.name}", posts_path(tag: tag.name), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Swiperのスクリプトを追加 -->
<script>
  window.onload = function() {
    const swiper_main = new Swiper('.swiper-main', {
      spaceBetween: 10,
      slidesPerView: 1,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  };
</script>
